/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #03a9f4 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4 !important;
  box-shadow: 0 1px 0 0 #03a9f4 !important;
}